	*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imageboxx
{
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: -50px;
    left: 121px;

}
.imageboxx img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.boxone
{
    width: 400px;
    height: 300px;
    background-color: skyblue;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px saddlebrown;
    position: relative;
}
.mainbx
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 120px;
}

.boxone h1{
    padding-top: 50px;
}

/* position 5 types 

top
:right
bottom
left */